<form method = "GET" action "">
Director: <input type = "text"  name = "director" placeholder = "Director Name">
<input type = "submit">
</form>

<p> Showing movies directed by: <span style = "color:#ff5a09"> {{director}} </span> </p>

<table style="width:75%" align = "center">
  <tr>
    <th>Movie</th>
    <th>Year</th>		
    <th>Director</th>
  </tr>
{{#each movies}}
  <tr>
    <td>{{title}}</td>
    <td>{{year}}</td>		
    <td>{{director}}</td>
  </tr>
{{/each}}
</table>