<h3> Welcome Bird Lovers </h3>

<div class = img-container>
	<img src="/img/bird4.png" alt="Bird Watching">
</div>

<div class = link-container> 
	<a href = "/settings"> Settings </a> |
	<a href = "/birds"> List of Birds </a>
</div>


