<h3> Settings </h3>

<p> Only show birds that have been seen at least this many times </p> 

<div class = "bird-min-form">
	<form action = "" method = "POST">
		<input type = "text" name = "minVal" placeholder = {{minimumValue}}>
		<div class = "submit-min"> 
			<input type = "submit" value = "Set It!">
		</div>
	<form>
</div>


<a href = "/birds"> List of Birds </a>